[submodule "libs/third_party/flatbuffers"]
	path = libs/third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "libs/third_party/parson"]
	path = libs/third_party/parson
	url = https://github.com/kgabis/parson.git
[submodule "libs/third_party/base64.c"]
	path = libs/third_party/base64.c
	url = https://github.com/joedf/base64.c
[submodule "libs/third_party/pybind11"]
	path = libs/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "sample_apps/ssl/third_party/mbedtls"]
	path = sample_apps/ssl/third_party/mbedtls
	url = https://github.com/yamt/mbedtls.git
[submodule "libs/third_party/SHA-256"]
	path = libs/third_party/SHA-256
	url = https://github.com/983/SHA-256.git
